.resume-container {
  section:nth-child(odd) {
    color: white;
  }
  section:nth-child(even) {
    color: black;
    background-color: white;
    transition: background-color 1s;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 950px;
  }
}
