.About {
  justify-content: center;
  margin: auto;
}

@keyframes fadeInUp {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.fadeInUp {
  animation: fadeInUp 2s ease;
}

.hidden {
  visibility: hidden;
}
