.Home {
  margin: 200px auto;
  justify-content: center;
  animation: fadeIn 2s;
}

@media (max-width: 600px) {
  .text {
    max-width: 80%;
  }
}

.word {
  position: absolute;
  width: max-content;
}

.letter {
  position: relative;
  vertical-align: top;
  float: left;
  transform-origin: 50% 50% 15px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
