@import url("../../App.css");

.Navbar {
  position: fixed;
  width: 100%;
  /* height: 63px; */
  justify-content: center;
  z-index: 100;
  padding: 0px;
  background-color: var(--bs-primary-bg-subtle);
}

@media (min-width: 768px) {
  .showmd {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidemd {
    display: none;
  }
}

.navbarToggler:focus {
  box-shadow: none;
}

/* ALL NAV LINKS */
.nav-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 63px;
}

.nav-item,
.nav-item:before,
.nav-item:after {
  transition: all 0.5s;
}

/* NAV LINKS */
.brand,
.about,
.resume,
.hireme,
.notfound {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 0px;
  height: 63px;
  align-content: center;
  z-index: 1;
}
.brand:hover,
.about:hover,
.resume:hover,
.hireme:hover,
.notfound:hover {
  color: white;
}
.brand:after,
.about:after,
.resume:after,
.hireme:after,
.notfound:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
.brand:hover:after,
.about:hover:after,
.resume:hover:after,
.hireme:hover:after,
.notfound:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.navtext {
  all: unset;
  height: 100%;
  /* width: 100%; */
  align-content: center;
}
.navtext:active {
  transform: translatey(2px);
}

/* BRAND */
.brand:after {
  background: var(--home-color);
}

/* ABOUT */
.about:after {
  background: var(--about-color);
}

/* RESUME */
.resume:after {
  background: var(--resume-color);
}

/* HIREME */
.hireme:after {
  background: var(--hireme-color);
}

/* NOTFOUND */
.notfound:after {
  background: var(--not-found-color);
}

.hamburger {
  width: 30px;
  height: 35px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--bs-secondary);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 5px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger span:nth-child(3) {
  top: 25px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 5px;
}

.hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 5px;
}
