.resume {
  --color: #00e68e;
  --hover-font: #000;

  background: none;
  border: 2px solid var(--color);
  text-transform: uppercase;
  color: var(--color);
  letter-spacing: 2.2px;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  position: relative;

  &:hover {
    box-shadow: inset 8rem 0 0 0 var(--color), inset -8rem 0 0 0 var(--color);
    color: var(--hover-font);
    &:active {
      transform: translateY(2px);
      transition: all 0.1s linear;
    }
    &::after {
      transform: translateY(0px);
      transition: all 0s linear;
    }
  }
}
