.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bs-secondary-bg-subtle);
  color: black;
  text-align: center;
  height: auto;
  padding: 5px 5px 5px 5px;
}

.bi {
  transition: all 0.75s ease;
}

.bi-telephone-fill.show {
  color: #53d769;
}

.bi-envelope-fill.show {
  color: #de5246;
}

.bi-linkedin.show {
  color: #0077b5;
}

.bi-gitlab.show {
  color: #fc6d26;
}

.FadeIn {
  display: inline-block;
  width: 0px;
  opacity: 0;
  transition: all 0.75s ease;
  justify-content: center;
}

.FadeIn.show {
  opacity: 1;
  width: 40px;
}
