/* 
red: #F58395
orange: #FFC796
green: #92DA83 / #2EB996
blue: #86BCEB
darkblue: #235592
purple: # B597E4

--resume-color
--about-color
--home-color
--not-found-color
*/

:root {
  --red-color: #f58e95;
  --orange-color: #ffc796;
  --about-color: #afdaff;
  --home-color: #d0e9ff;
  --resume-color: #235592;
  --hireme-color: #14a480;
  --not-found-color: #ffcdc1;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.highlight *::selection {
  background-color: rgb(44, 70, 148);
  color: white;
}
